body{
    
    background: lightsteelblue;
    
}
.orbit{
    background: url(../img/g-20.jpg) no-repeat;
    background-size: 100% 120%;
    height: 55%;
    text-align: center;
    padding-bottom: 30%;
}

.top-bar img{
    border-radius: 40px;
}
.orbit ul{
        padding-top: 5%;
    font-size: 30px;
    
}
/*
.top-bar ul{
    
}
*/
/*
#home{
    
    background: 100% 100%;
    
    height: auto;
    text-align: center;
}
*/


.wrap{
    width: 100%;
    margin: 0 auto;
    
    text-align: center;

}




#shedule{
    background: url(../img/onmyagenda.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
    padding-bottom: 20%;
}
#shedule a{
    
}

