#row-one {
    height: 683px;
    background-color: chocolate;

}
input[type="text"] {
    height: 30px;
    width: 392px;
}
select {
    width: 314px;
    height: 37px;
}

{
    padding-top: 49px;
    font-size: 40px;

}
#twitter {
    padding-top: 167px;
}
button {
    background-color: white;
    width: 80px;
    height: 40px;
}
#row-2 {
    clear: both;
    height: 300px;
    padding-top: 94px;
}
p {
    font-size: 37px;
    text-align: center;
}