/*General styles*/


/*end of general styles*/


/*About section */


/*header section*/


/*endof header section*/



/*
.about{
    background-size: contain;
    margin-bottom: 1%;
    padding: 5%;
    background-color: lightsteelblue;
    opacity: 0.9;
    text-align: left;
}


end of about section
*/


.header{
    background-image: url(../img/frozen_wave-wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.heading{
      color: #fff;
        padding: 5%;
    font-size: 3em;
    text-align: center;
}
}
.menu a{
    padding: 5%;
}

p{
    color: #fff;
        padding: 5%;
    font-size: 1.5em;
}

img{
        padding: 5%;
    font-size: 1.5em;
}